@font-face {
  font-family: "FuturaProspero";
  src: url("src/FuturaProspero-Bold.woff") format("woff");
}

html {
  background-color: #d5d6cc;
  margin: 0;
}

.dropbtn {
  font-size: 16px;
  color: black;
  background-color: #d5d6cc;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {
  background-color: #ddd;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
